<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.crashlyticskdsl">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="2a9136b26eabb7df7c83d76132b5551866f97fa2"
            />

    </application>
</manifest>
